body {
    padding: 0;
    margin: 0;
    font-family: 'Bilbo', cursive;
    border-top: 0.2rem solid #F22613;
    border-left: 0.2rem solid #F22613;
}

.contact {
    display: inline;
    float: right;
    width: 52%;
    margin: 1% 5.4% 0 0;
}

.socialicons {
    list-style-type: none;
}

.socialicons li {
    display: inline;
    float: right;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5% 2em 0% 7%;
    opacity: 0.2;
}

.socialicons >li:hover {
    box-shadow: 0 0 35px #F22613;
    border-radius: 2em;
    opacity: 1;
}

.socialicons .twitter {
    color: #55acee;
}

.socialicons .linkedin {
    color: #4c66a4;
}

.socialicons .github {
    color: purple;
}

.socialicons .mail {
    color: red;
}

.masthead {
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    width: auto;
    margin: 5em 6em 2em 6em;
}

.masthead-change {
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(../images/sky.jpg);
}

.name,
.jobtitle {
    position: absolute;
    text-transform: uppercase;
    background-color: white;
    padding: 0;
    float: right;
}

.name {
    font-size: 45px;
    margin: 6% 0 0 2%;
    height: 0.9em;
    text-align: center;
    padding-bottom: 0.2em;
    border-radius: 2em;
    width: 40%;
}

.name:hover {
    cursor: pointer;
}

.name ul {
    margin: 1%;
}

.name li {
    display: inline-block;
    list-style-type: none;
}

#nextName {
    padding-right: 8%;
}

.jobtitle {
    font-size: 45px;
    margin: 11.2em 0 0 13em;
    border-radius: 2rem;
    padding-left: 0.2em;
    width: 48%;
    display: inline-block;

}

.jobtitle ul {
    margin: -4%;
}

.jobtitle li {
    list-style-type: none;
    display: inline-block;
    padding: 4%;
    padding-left:0%;
}

.name .fa,
.jobtitle .fa {
    color: red;
}

.fa:hover {
    cursor: pointer;
}

.myName:hover,
#webTitle:hover {
    cursor: pointer;
}

.aboutme,
.portfolio {
    font-size: 16px;
    padding: 0.5em;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 4em;
}

.aboutme {
    margin-left: 6%;
    margin-top: -27em;
    width: 90%;
    display: none;
    text-align: center;
}

.aboutme h3 {
    text-decoration: underline;
}

.partI,
.partII,
.partIII {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 2%;
    margin-right: 2%;
    background: linear-gradient(#FF851B, #FFDC00);
    border-radius: 2em;
    box-shadow: 0px 6px 7px #FF4136;

}

.aboutme p {
    height:100%;
}

.portfolio-title {
    float:right;
    padding-right:2%;
    margin-top:1%;
    font-size:27px;
    color: #b3b3b3;
    display:none;
}

.headers > h2 {
    font-family: 'Bilbo', cursive;
    display: none;
    color: #FF851B;
    float: right;
    position: absolute;
    opacity: 1;
    font-size: 45px;
    margin: 14% 3% 0 25%;
    padding:1%;
    border-radius:2em;
    box-shadow: 0px 0px 40px white;
    width:32%;
    text-align:center;
}

.headers h2 {
    margin-left:27%;
}

.portfolio-images {
    width:47%;

}

.portfolio-images > img {
    height: 20em;
    width: auto;
    display: none;
    padding: 0 63% 0;
    opacity: .2;
    margin-top: 14.5%;
    width:100%;
    height:auto;
}

.portfolio-images > img:hover {
    opacity: 1;
}

.aboutme_page,
.streetfight,
.karma,
.nytimes {
    display: none;
}

a:visited {
    color: inherit;
}

a:link {
    color: inherit;
    text-decoration: inherit;
}

@media screen and (max-width: 768px) {

    .name {
        font-size: 44px;
    }

    .jobtitle {
        font-size:26px;
    }
}
