body {
    padding: 0;
    margin: 0;
    font-family: 'Bilbo', cursive;
    border-top: 0.2rem solid #F22613;
    border-left: 0.2rem solid #F22613;
    /*background-color: #a8a8a8;*/
}

div {
    /*border: 1px solid red;*/
}

.topNavigation {
    /*position:fixed;*/
}

.contact {
    display: inline;
    float: right;
    width: 52%;
    margin: 1% 5.4% 0 0;
}

.socialicons {
    list-style-type: none;
}

.socialicons li {
    display: inline;
    float:right;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0 1em;
    opacity:0.2;
}

.socialicons .twitter {
    color: #55acee;
}

.socialicons .linkedin {
    color: #4c66a4;
}

.socialicons .github {
    color: purple;
}

.socialicons .mail {
    color: red;
}

.socialicons a:hover {
    box-shadow: 0 0 35px #F22613;
    border-radius: 1em;
    opacity:1;
}

.masthead {
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    width: auto;
    margin: 5em 6em 2em 6em;
}

.masthead-change {
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(../images/sky.jpg);
}

.name,
.jobtitle {
    position: absolute;
    text-transform: uppercase;
    background-color: white;
    padding: 0;
}

.name {
    font-size: 53px;
    margin: 6% 0 0 2%;
    height: 0.9em;
    text-align: center;
    padding-bottom: 0.2em;
    border-radius: 2em;
    width: 40%;
}

.name:hover {
    cursor:pointer;

}

.mypicture img {
    float:right;
    margin-top:-40%;
    margin-right:7%;
    border-radius:14em;
    display:none;
}

.jobtitle {
    font-size: 46px;
    margin: 11.2em 0 0 13em;
    border-radius: 2rem;
    padding-left: 0.2em;
    width: 48%;
}

.aboutme,
.portfolio {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    padding: 0.5em;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 4em;
    /*background: linear-gradient(orange, yellow);*/
}

.aboutme h3 {
    text-decoration: underline;

}

.aboutme {
    margin-left: 6%;
    margin-top:-27em;
    width:90%;
    display: none;
    text-align:center;
}

.aboutme .partI,
.partII,
.partIII {
    display:inline-block;
    vertical-align: top;
    width:25%;
    padding:2%;
    margin-right:2%;
    background: linear-gradient(#FF851B, #FFDC00);
    border-radius:2em;
    box-shadow: 0px 6px 7px #FF4136;
}

/*.portfolio {
    text-decoration: underline;
    margin-left: 27em;
    margin-top:-23em;
    width: 50%;
    height: 37em;
}*/

.headers > h2 {
    text-decoration: underline;
    display:none;
}

.portfolio-images > img {
    height: 23em;
    width: auto;
    display:none;
}

.aboutme_page,
.streetfight,
.karma,
.nytimes {
    display:none;
}

.navigateForward,
.navigateBack {
    /*color:white;*/
}
.portfolio a:link {
    opacity: 0.3;
}

.portfolio a:hover {
    opacity: 1;
}

a:visited {
    color: inherit;
}

a:link {
    color: inherit;
    text-decoration: inherit;
}

@media screen and (max-width: 400px) {
    /*.masthead {
        background-size: contain;
        height:22em;
        margin: 1em 36em 0em 1em;
    }

    .name {
        font-size: 29px
        top:0.5em;
        left:0.5em;
        width:21%;
    }

    .jobtitle {
        font-size:26px;
        top:9.2em;
        left:7.2em;
        width:22%;
    }*/
}
